<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.office_web.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.office_web.entity.User">
        <result column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>


    <select id="getPage" resultType="com.example.office_web.entity.User">
        select u.id , u.name, t.name as officeName from user u left join office t on u.id = t.userid
    </select>

    <insert id="insertUser">
        insert into sys_user(id,nickName,city, province, open_Id, avatarUrl, create_date, update_date)
        VALUES (#{id},#{nickName}, #{city},  #{province}, #{openId}, #{avatarUrl}, #{createDate}, #{updateDate}
        )
    </insert>


    <insert id="updateUser">
        update sys_user set nickName = #{nickName}, city = #{city}, province =  #{province}, avatarUrl =  #{avatarUrl},
        update_Date =  #{updateDate}
        where open_Id = #{openId}
    </insert>


    <select id="getUserByOpenId" resultType="com.example.office_web.entity.User">
        select id, nickName, city, province, open_id as openId, avatarUrl, create_date  as createDate, update_date as  updateDate
        from sys_user where open_id = #{openId}
    </select>


    <select id="getUserByAccount" resultType="com.example.office_web.entity.User">
        select password as pwd, open_id as openId from sys_user where login_name = #{account}
    </select>
</mapper>
